<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD.Properties.Settings.CRUDConnectionString" connectionString="Data Source=LOCALHOST\SQLEXPRESS; Database = GeralSistema; User Id = sa; Password = Acesso@123; MultipleActiveResultSets=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>